---
title: Home
---

%ul.bxslider
  %li= image_tag "images/slideshow_tah.jpg", title: "TOTAL ARTIFICIAL HEART that can supply life-saving opportunities for patients <br><a class='more-button' href='#{http_prefix}research/total-artificial-heart'>Read More</a>"
  %li= image_tag "images/slideshow_researchoverview.png", title: "Pneumatically-driven External Pressure Applicator for Circulatory Augmentation in Fontan Patients<br><a class='more-button' href='#{http_prefix}research/overview'>Read More</a>"
  %li= image_tag "images/slideshow_circulatoryaugmentation.png", title: "Pneumatically-driven External Pressure Applicator for Circulatory Augmentation in Fontan Patients <br><a class='more-button' href='#{http_prefix}research/circulatory-augmentation'>Read More</a>"
