---
title: Home
---

%ul.bxslider
  %li= image_tag "slideshow_tah.jpg", title: "Dragon Heart<br><br><a class='more-button' href='#{http_prefix}research/total-artificial-heart'>Read More</a>"
  %li= image_tag "slideshow_researchoverview.png", title: "Ventricular Assist Devices<br><br><a class='more-button' href='#{http_prefix}research/overview'>Read More</a>"
  %li= image_tag "slideshow_circulatoryaugmentation.png", title: "Patient Specific Modeling and Surgical Planning<br><br><a class='more-button' href='#{http_prefix}research/circulatory-augmentation'>Read More</a>"

%h3 BioCirc Research
%p Congestive heart failure is a progressive and debilitating disease that affects tens of millions of people worldwide. In the U.S., more than 7 million people suffer from heart failure, and more than 500,000 new cases are diagnosed per year. This costs the healthcare industry tens of billions of dollars annually, and only 2500 donor hearts are available each year. Thousands are registered awaiting a donor heart; many of those patients who are on the waiting list die. Thus, many patients would benefit from temporary or long-term mechanical circulatory support (MCS). To address this unmet need, the BioCirc Laboratory at Drexel seeks to improve the treatment strategies and therapeutic options for pediatric and adult patients suffering from acquired or congenital heart disease by developing unique features for inclusion in the design of blood pumps and to develop entirely new designs of blood pumps for patients with single ventricle or biventricular circulations as a bridge-to-transplant, bridge-to-recovery, or destination therapy.
= link_to "Research Overview", "research/overview", class: "more-button-blue"